.imagenAvatar {
  width: 10rem;
  border-radius: 50%;
  border: 0.3rem solid var(--color-detalle);
}

ul {
  list-style: none;
  margin-bottom: 1rem;
  color: var(--color-texto-secundario);
  padding: 0;
}

@media (min-width: 900px) {
  .imagenAvatar {
    width: 14rem;
  }
}
