.contenedorRedes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.botonRed {
  font-size: min(3rem, 10vw);
  color: var(--color-texto);
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.botonRed:hover {
  transform: scale(1.2);
  color: var(--color-detalle-secundario);
}

@media (min-width: 500px) {
  .contenedorRedes {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
}
