.contenedorApp {
  display: flex;
  flex-direction: row;
  min-height: 100svh;
  width: 100%;
}

.contenedorMain {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contenedorContenido {
  padding: 2rem 2.5rem;
  flex: 1;
}

.animacionEntrada {
  opacity: 0;
  animation: aparecerSuave 0.6s ease-out forwards;
}

@keyframes aparecerSuave {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}