.header {
  background-color: var(--color-secundario);
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  position: sticky;
  top: 0;
  height: 10rem;
  z-index: 999;
}

.separador {
  display: none;
}

.subtituloRuta {
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  color: var(--color-texto-secundario);
  font-weight: 500;
}

@media (min-width: 900px) {
  .titulos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .separador {
    display: inline;
    color: var(--color-texto-secundario);
    font-size: 1.6rem;
    font-weight: 300;
  }
}
