.inputBase {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.5rem solid var(--color-secundario);
  font-family: inherit;
  font-size: 1.1rem;
  background-color: rgba(255, 255, 255, 0.9);
  transition: border-color 0.3s ease;
}

.inputBase:focus {
  outline: none;
  border-color: var(--color-detalle);
}